@import '../styles/varaibles.scss';
.featuresContainer {
    padding: 5rem 0;
    h1 {
        text-align: center;
        font-size: $Font40px;
        color: $blue;
        font-weight: $font-weight-very-strong;
        margin-bottom: 1rem;
    }

    .UnderTitle{
        font-size: 1.25rem;
        text-align: center;
        color: $grey;
        line-height: 1.7;
        font-weight: $font-weight-light;
        width: 30%;
        margin: 0 auto;
    }
    .contentBox{
        display: flex;
        width: 60%;
        margin: 0 auto;
        justify-content: space-between;
        img {
            width: 45%;
        }
        .textBox{
            width: 45%;
        }
    }
    
}