
// FONT SIZES

$medium-font-size: 1.4rem;
$small-font: 1rem;
$logo-font: 2rem;
$hero-h1: 3rem;
$Font40px: 2.5rem;
$Font175rem: 1.75rem;

// FONT WEIGHT
$font-weight-very-strong: 900;
$font-weight-light:300;
$font-weight-medium: 500;
$font-weight-medium-light: 400;
// FONT COLOR

$navTextColor: rgba(255,255,255,.7);
$mouseIcon: rgba(255,255,255,.4);
$navTextHover: #fff;
$white: #fff;
$blue: #007bff;
$black: #000;
$grey: grey;


//BORDER RADIUS
$button-radius: 30px;
